body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.iphone6 {
  transform: rotate(25deg);
  width: 300px;
  margin: 40px auto 20px 20px;
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu";
}
